<!DOCTYPE html>
<html>
<head>
  <title>Rendered Markdown</title>
  <link rel="stylesheet" href="template/default.min.css"/>
  <link rel="stylesheet" href="template/github-markdown.css"/>
</head>
<body>
  <div class="markdown-body">
    <%= body %>
  </div>
  <script type="text/javascript" src="template/highlight.min.js"></script>
  <script type="text/javascript" src="template/jquery.min.js"></script>
  <script type="text/javascript">
    var hilight_hljs = function(){
      $('pre code').each(function(i, e){hljs.highlightBlock(e, '  ');});
    };
    var hilight_copy = function(){
      $('.insert').each(function(index, element){
        var e = $(element);
        e.html($(e.html() + ' pre').parent().html());
      });
    };
    $(function(){
      hilight_hljs();
      hilight_copy();
    });
  </script>
</body>
</html>
